<menu class='dropdown-menu open'>
  <ul class='dropdown-actions'>
    <li>
      <a class='show-users'>
        <i class='icon fa-fw'>{{> usersIcon}}</i>
        Flow Members
      </a>
    </li>
    <li>
      <a class='show-sources'><i class="icon fa fa-fw fa-inbox"></i> Integrations</a>
    </li>
    <li>
      <a class='show-settings'><i class="icon fa fa-fw fa-list"></i> Settings</a>
    </li>
  </ul>
  <ul class='dropdown-actions'>
    <li>
      <a class='toggle-ignore-team'>{{> toggleTeam }}</a>
    </li>
  </ul>
  <ul class='dropdown-actions'>
    <li>
      <a class='close'><i class="icon fa fa-fw fa-times"></i> Close</a>
    </li>
  </ul>
</menu>
