<header class='nav-header'>
  <div class='dropdown' id='user-menu-toggle'></div>
</header>
<div class='nav-content'></div>
<footer class='nav-footer'>
  <ul class='nav-footer-actions'>
    <li>
      <a class='search-tab' data-tipsy-title='More flows and people'>
        <i class='fa fa-fw fa-plus'></i>
        <span class='label'>More flows and people</span>
      </a>
    </li>
    <li class='minimized-only'>
      <a class='open-sidebar' title='Expand'>
        <i class='fa fa-fw fa-caret-square-o-right'></i>
      </a>
    </li>
    <li class='expanded-only'>
      <a class='close-sidebar' data-tipsy-title='Collapse'>
        <i class='fa fa-fw fa-caret-square-o-left'></i>
      </a>
    </li>
  </ul>
</footer>
