<div class='spotlight-search' id='spotlight-search' title='Search for flows and users'>
     <input type='text' id='spot-search' class='spotlight-input' placeholder='GoTo...'>
     <i class='fa fa-search fa-lg'></i>
</div>