<a>
  {{#icon}}
  <i class='option-icon {{icon}}'></i>
  {{/icon}}
  {{#iconUrl}}
  <i class='option-icon' style='background-image: url({{iconUrl}})'></i>
  {{/iconUrl}}
  <span class='id'>{{tag}}</span>
  {{#count}}
  <span class='count'>{{count}}</span>
  {{/count}}
</a>
