<div class='sub-menu-wrapper pull-down'>
  <menu class='dropdown-menu s sub-menu'>
    <ul class='dropdown-actions'>
      <li>
        <input class='permalink-input dropdown-input' readonly type='text' value='{{permalink}}'>
      </li>
    </ul>
  </menu>
</div>
