<a class='thread-close-button'></a>
<header class='floating-header'></header>
<section class='single-view-content'>
  <div class='single-view-content-wrap'>
    <div class='single-view-body'>
      <header class='static-header'></header>
    </div>
  </div>
</section>
{{> spinner}}
