<div class="thread-indicator" {{#threadColor}}style="border-color: {{threadColor}}; color: {{threadColor}}; fill: {{threadColor}}"{{/threadColor}} title="Commenting on a thread">
  {{> commentsIcon}}
</div>
