<menu class='message-actions clean'>
  <li>
        {{#starred}}
            <a class='star-button icon-container' title='Unstar message'>
                <i class="fa fa-star" style="font-size: 15px; position: relative; top: 1px; color: #f2c744"></i>
            </a>
        {{/starred}}
        {{^starred}}
            <a class='star-button icon-container' title='Star message'>
                <i class="fa fa-star-o" style="font-size: 15px; position: relative; top: 1px"></i>
            </a>
        {{/starred}}
  </li>
  {{#removable}}
  <li>
    <a class='delete' title='Delete message'>
      {{> deleteSVGIcon}}
    </a>
  </li>
  {{/removable}}
  {{#editable}}
  <li>
    <a class='edit-message' title='Edit this message.'>
      {{> editSVGIcon}}
    </a>
  </li>
  {{/editable}}
  {{#sendableToRally}}
  <li>
    <a class='share-with-rally' title='Share with Rally.'>
      {{> shareSVGIcon}}
    </a>
  </li>
  {{/sendableToRally}}
  {{#rethreadable}}
  <li>
    <a class='rethread-message' title='Rethread this message.'>
      {{> rethreadSVGIcon}}
    </a>
  </li>
  {{/rethreadable}}
  {{#private}}
  {{^emptied}}
  <li>
    <a class='edit-tags' title='Edit message tags.'>
      {{> editTagsSVGIcon}}
    </a>
  </li>
  <li>
    <a class='emoji-reaction-button' title='Add emoji reaction.'>
      {{> emojiReactionSymbolSVGIcon}}
    </a>
  </li>
  {{/emptied}}
  {{/private}}
</menu>
{{#starred}}
<div style="font-size: 80%"><i class="fa fa-star" style="color: #f2c744"></i> Added to your starred items</div>
{{/starred}}
{{^noLeftSideMessageComponents}}
<div class='bubble-container'></div>
<div class='avatar-container'></div>
{{/noLeftSideMessageComponents}}
{{#withoutNick}}
<div class='message-author' data-user='{{user.id}}'>&nbsp</div>
{{/withoutNick}}
{{^withoutNick}}
<div class='message-author' data-user='{{user.id}}'>{{user.nick}}</div>
{{/withoutNick}}
{{& timestamp}}
