<a class='toolbar-link' id='search-toggle' title='Search and filter messages'>
  <i class='fa fa-search fa-lg'></i>
  <i class='fa fa-caret-down'></i>
</a>
<form id='search-form'>
  <a class='toolbar-link' id='filter-reset'>
    <i class='fa fa-times fa-fw'></i>
  </a>
  <div class='tokenist' id='search-input'></div>
  <div class='full-text'></div>
  <ul class='autocompleter'></ul>
</form>
