<span class='toolbar-toggle'>
  {{> icon}}
  <i class='fa fa-lock'></i>
  <span class='count'><span class='count-online'>0</span><span class='count-rest'>/<span class='count-total'>0</span></span>
  <span class='count-description'>online</span></span>
</span>
