<p class="attachment-description">
  {{attachment.file.name}}<br>
  {{attachment.file.size}}
  {{#attachment.thumbnail}}
  ({{attachment.image.width}}x{{attachment.image.height}})
  {{/attachment.thumbnail}}
</p>
