<ul class='left-item-group'>
  <li class='sidebar-toggle-item'>
    <a class='toolbar-link' id='sidebar-button'>
      <i class='fa fa-fw fa-lg fa-reorder'></i>
    </a>
  </li>
  <li>
    <div class='private-user'></div>
  </li>
</ul>
<ul class='right-item-group'>
  <li id='private-search-form-item' class={{searchFormInlineStyle}}></li>
  <li id='star-search-item'>
      <a href="?filter=starred" title="Show starred items">
          <i class="fa fa-star-o"></i>
      </a>
  </li>
</ul>
