<ul class='left-item-group'>
  <li class='flow-name'>
  </li>
  <li class='sidebar-toggle-item'>
    <a class='toolbar-link' id='sidebar-button'>
      <i class='fa fa-fw fa-lg fa-reorder'></i>
    </a>
  </li>
  <li class='user-counter-item'>
    <a class='toolbar-link' id='user-counter'></a>
  </li>
  <li class='user-add-item' id='user-add-item'>
    <a class='toolbar-link' id='user-add'>
      <span class='toolbar-toggle'>
        <i class='fa fa-plus'></i>
        Add people
      </span>
    </a>
  </li>
</ul>
<ul class='right-item-group'>
  <li id='search-form-item' class={{searchFormInlineStyle}}></li>
  <li id='star-search-item'>
      <a href="?filter=starred" title="Show starred items">
          <i class="fa fa-star-o"></i>
      </a>
  </li>
  <li id='inbox-toggle-item'>
    <a class='toolbar-link active' id='inbox-toggle'>
      <span class='toolbar-toggle'>
        <span class='fa-stack inbox-notification-container'>
          <i class='fa fa-stack-2x fa-inbox'></i>
          <i class='fa fa-stack-1x fa-arrow-down inbox-notification-arrow'></i>
        </span>
        Inbox
      </span>
    </a>
  </li>
</ul>
