<section class='content clearfix'>
  <h3 class='stripe-title'>Meme Help</h3>
  <hr>
  <p>All Meme commands begin with /meme</p>
  <p>An example usage: /meme /oprah /You get a meme /And you get a meme
  <dl class='help-list command-list meme-commands'>
    <dt>/meme OR /meme help</dt>
    <br /><dd>Display this help.</dd>
    <dt>/meme templates</dt>
    <br /><dd>Show the list of all available meme image templates.</dd>
    <dt>/meme /[template]</dt>
    <br /><dd>Display the meme image specified by [template].</dd>
    <dt>/meme /[template] /[top line text]</dt>
    <br /><dd>Display the meme image specified by [template] with text on the top of the image specified by [top line text].</dd>
    <dt>/meme /[template] /[top line text] /[bottom line text]</dt>
    <br /><dd>Display the meme image specified by [template] with text on the top of the image specified by [top line text] and text on the bottom specified by [bottom line text].</dd>
  </dl>
</section>
