<section class='content clearfix'>
  <div class='image not-found'></div>
  <h3 class='stripe-title'>
    <span class='fa fa-copy'></span>
    Whoa! Identical display names detected
  </h3>
  <hr>
  <p>
    Looks like another person in this flow ({{name}}) has the same display name as you. This might
    lead to some confusion within the flow.
  </p>
  <p>
    There are two ways to resolve this. You can either change your own display name by editing your
    profile, or you can discuss it with {{name}} to figure out who should change their display name.
  </p>
  <a class='button primary-button close' href='/account/edit' target='_blank' rel='noopener noreferrer'>Edit your profile</a>
  <a class='button open-private'>Start a 1-to-1 chat with {{name}}</a>
</section>
