<section class='content clearfix'>
  <h3 class='stripe-title'>Flowdock chat /commands</h3>
  <hr>
  <p>These commands can be typed into any chat or comment input in Flowdock.</p>
  <dl class='help-list command-list'>
    <dt>/help OR /?</dt>
    <dd>Display this help.</dd>
    <dt>/status [message] OR /away [message]</dt>
    <dd>Send status message or clear status if no message is given.</dd>
    <dt>/me message</dt>
    <dd>Send an action message that does not change your status.</dd>
    <dt>/appear [room name] OR /appear</dt>
    <dd>Start a new appear.in video call with your flow. If you don't pass in a room name, one will be generated for you.</dd>
    <dt>/query @Nick</dt>
    <dd>Start a 1-to-1 conversation with Nick.</dd>
    <dt>/slap Nick</dt>
    <dd>Slap Nick with a fish.</dd>
    <dt>/giphy [search terms]</dt>
    <dd>Show an animated image from Giphy that matches the search terms.</dd>
    <dt>/meme help</dt>
    <dd>Show detailed help for the /meme command.</dd>
    <dt>/ /text</dt>
    <dd>Send a normal message that starts with /text.</dd>
  </dl>
</section>
