<div class='org-link'>
  <span class='org-name'>{{title}}</span>
  {{#url}}
  <a class='external-link' href='{{url}}' target='_blank' rel='noopener noreferrer' title='Manage organization'>
    <i class='fa fa-external-link'></i>
  </a>
  {{/url}}
</div>
<ol class='org-flows'></ol>
