<li class='list-empty-message'>
  You'll see notifications here when someone mentions <strong>@{{nick}}</strong> or <strong>@everyone</strong> in one of your flows or sends you a 1-to-1 message.
</li>
