<a class='external' href='{{file.path}}' target='_blank' rel='noopener noreferrer'>
  <div class='icon {{file.type}}'></div>
  <span class='file-properties'>
    {{#meta}}
    {{text}}
    {{/meta}}
  </span>
</a>
