<footer class='msg-footer'>
  {{#editTime}}{{& editTime}}{{/editTime}}
  <ul class='tags'>
    {{#tags}}
    <li class='tag'>{{.}}</li>
    {{/tags}}
  </ul>
  <ul class='emoji-reactions'>
  </ul>
</footer>
