<div class='coach-tooltip-content'><div class='coach-tooltip-title'>Are you sure you want to share this with Rally?</div></div>
<div class='coach-tooltip-footer'>
  <a class='coach-tooltip-next'>Yes</a>
  <a class='coach-tooltip-stop'>No</a>
</div>
