<a class='{{class}}' href='{{link}}' target='_blank' rel='noopener noreferrer' title='{{text}}'>
  {{text}}
  {{#icon}}
  <i class='fa {{icon}}'></i>
  {{/icon}}
  <i class='fa fa-fw fa-spin fa-circle-o-notch title-action-spinner'></i>
  <i class='fa fa-fw fa-check title-action-check'></i>
  <i class='fa fa-fw fa-warning title-action-warning'></i>
</a>
