<ul class='emoji-groups'>
  <li><a class="open-help" target="_blank" rel="noopener noreferrer" href="/help/chat_input"><i class='fa fa-question-circle'></i></a></li>
</ul>
<div class="emoji-content">
  <div class="filter">
    <input class="emoji-filter" type="text" placeholder="Search..." required>
    <a class="clear fa fa-times"></a>
    <ul class="results" data-emoji-group="Results"></ul>
  </div>
  <div class="emojis"></div>
  <a href="{{preferencesUrl}}" target="_blank" rel="noopener noreferrer" class="add-custom-emoji">
    <i class="fa fa-plus"></i> Add your own emoji...</a>
</div>