<a class='thread-actions-toggle dropdown-toggle'>
  {{> menuIcon}}
</a>
<menu class='dropdown-menu dropdown-offset'>
  <ul class='thread-action-list dropdown-actions capitalize'></ul>
  <ul class='item-action-list dropdown-actions capitalize'></ul>
</menu>
