<a class='toast-continue' title='Close this notification'>
  <i class='fa fa-times-circle-o'></i>
</a>
<div class='toast-icon'>
  <i class='fa fa-warning'></i>
</div>
<div class='toast-content'>
  <h4 class='toast-title'>
    {{title}}
  </h4>
  <p class='toast-description'>
    {{description}}
  </p>
</div>
