<section class='content'>
  <div class='image not-found'></div>
  <h3>Unknown User</h3>
  <p>
    The user you tried to chat with wasn't found.<br>
  </p>
  <ul class='buttons'>
    <li>
      <button class='button back'>Back</button>
    </li>
  </ul>
</section>
