<div class='empty-message'>
  <div class='help-message-title'>
    Start a discussion on this topic below.
  </div>
  <p class='help-message-subtitle'>
    The comments will appear as chat messages.
  </p>
  <div class='help-message-icon'>
    <span class='fa-stack'>
      <i class='fa fa-circle fa-stack-2x'></i>
      <i class='fa fa-comments fa-stack-1x fa-inverse'></i>
    </span>
  </div>
</div>
