<header class='floating-header'></header>
<section class='single-view-content'>
  <div class='single-view-content-wrap'>
    <div class='single-view-body'>
      <header class='static-header'></header>
      {{#report}}
      <div class='report center'>
        <a class='report-link'>Report error</a>
      </div>
      {{/report}}
    </div>
  </div>
</section>
{{> spinner}}
