<span class='commit-details'>
  <span class='author-info'>
    <span class='commit-author-name'>{{author.name}}</span>
    <img class='commit-avatar' src='{{author.avatar}}'>
  </span>
  <a class='commit-sha' href='{{url}}' target='_blank' rel='noopener noreferrer'>{{id}}</a>
  <span class="commit-message">{{message}}{{#furthermore}}<span class="commit-ellipsis fa fa-ellipsis-h"></span>{{/furthermore}}</span>
</span>
