<div class='instructions-overlay enabled'>
  <div class='instructions-content'>
    <i class='fa fa-hand-o-up fa-fw'></i>
    <i>Drop message on a thread to add to thread. Esc to cancel.</i>
  </div>
</div>
