<div class='toast-icon'>
  <i class='fa fa-warning'></i>
</div>
<div class='toast-content'>
  <h4 class='toast-title'>Unable to connect to Flowdock</h4>
  <p class='toast-description'>
    Trying to reconnect
    <span class='animate-ellipsis'>...</span>
  </p>
</div>
