<section class='content clearfix'>
  <div class='image'></div>
  <h3>There was an error</h3>
  <p>
    There was an unexpected error which could not be resolved.<br>
    Reload the page and contact <a href="mailto:team@flowdock.com">team@flowdock.com</a> if it happens again.
  </p>
  <ul class='buttons clean'>
    <li>
      <button class='primary-button reload'>Reload</button>
    </li>
  </ul>
</section>
