<a class='toast-continue' title='Close this notification'>
  <i class='fa fa-times-circle-o'></i>
</a>
<div class='toast-icon'>
  <i class='fa fa-warning'></i>
</div>
<div class='toast-content'>
  <h4 class='toast-title'>
    You must connect to {{application}} first
  </h4>
  <p class='toast-description'>
    <a class='authenticate' href='{{url}}' title='Authenticate'>Click here to authenticate</a>
  </p>
</div>
