<section class='content'>
  <div class='image not-found'></div>
  <h3>Flow not found</h3>
  <p>
    The Flow you tried to access cannot be found.<br>
    It either does not exist or you're not authorized to access it.<br>
    You can <strong>select another flow</strong> from the navigation bar
    or <strong>go back</strong</a>.
  </p>
  <ul class='buttons'>
    <li>
      <button class='button back'>Go back</button>
    </li>
  </ul>
</section>
