<section class='content'>
  <div class='image authentication'></div>
  <h3>Could not authenticate</h3>
  <p>
    Your connection to Flowdock could not be properly authenticated.<br>
    <strong>Reload</strong> and if this happens again, try <strong>logging out</strong> and then back in.
  </p>
  <ul class='buttons'>
    <li>
      <button class='primary-button reload'>Reload</button>
    </li>
  </ul>
</section>
