<section class='content'>
  <div class='image connection'></div>
  <h3>Could not connect to flow</h3>
  <p>
    Connection was established to Flowdock's servers.<br>
    However, we could not connect to this specific private chat.<br>
    <strong>Reload</strong> to restore connections.
  </p>
  <ul class='buttons'>
    <li>
      <button class='primary-button reload'>Reload</button>
    </li>
  </ul>
</section>
