<section class='content'>
  <div class='image not-found'></div>
  <h3>Whoops! You don't seem to have any Flows open.</h3>
  <ul>
    <p>
      This can happen if you've closed all of your flows or your subscription has expired. You can try opening a flow from the top left corner or reloading the page.
    </p>
  </ul>
  <p>
    If you keep seeing this error, please contact us at <a href="mailto:team@flowdock.com">team@flowdock.com</a>
  </p>
  <a class='button primary-button account' href='/account'>See Account Details</a>
</section>
