<a class='author-name' href='{{profileLink}}' target='_blank' rel='noopener noreferrer'>
  <span>{{author.name}}</span>
</a>
<a class='screen-name' href='{{profileLink}}'>
  <span>@{{author.screen_name}}</span>
</a>
