{{> messageHeader}}
<div class='content'>
  <progress max='100'>0%</progress>
  <p class='status'>
    <span class='state'>Uploading</span>
    <span class='filename'>{{fileName}}</span>
    <span class='uploaded'>(0%)</span>
  </p>
  <p class='error'>Upload failed, please try again.</p>
</div>
