<div class='video-image'>
  <img src='{{image}}'>
  <i class='fa fa-play video-play-button'></i>
  <span class='video-duration'>{{duration}}</span>
</div>
<span>
  <strong class='video-title'>{{title}}</strong>
  <br>
  {{author.name}}
</span>
