<table class='changelog'>
  <tr>
    <th>Field</td>
    <th>Old value</td>
    <th>New value</td>
  </tr>
{{#changeLog}}
  <tr>
    <td>{{field}}</td>
    <td>{{old_value}}</td>
    <td>{{new_value}}</td>
  </tr>
{{/changeLog}}
</table>