<div class='overlay-container'>
  <article class='stripe'>
    <div class='content center'>
      <h2 class='promo-title'>Open in Flowdock for Android</h2>
      <p class='promo-description'>
        If you have Flowdock for Android installed, you can open this flow in the app. No extra log-in required.
      </p>
      <ul class='promo-button-list'>
        <li>
          <a class='button close'>No thanks</a>
        </li>
        <li>
          <a class='primary-button promotion-link' href='{{content}}'>Open in Flowdock for Android</a>
        </li>
      </ul>
    </div>
  </article>
</div>
