<div class='center' id='not-enabled-notice'>
  <strong>Keyboard shortcuts are disabled.</strong>
  <a id='enable-kbs-btn'>Enable keyboard shortcuts</a>
</div>
<section class='content clearfix'>
  <h3 class='stripe-title'>
    Keyboard Shortcuts
  </h3>
  <hr>
  <dl class='help-list shortcut-list left disabled'>
    <dt>{{& unfocus }}</dt>
    <dd>Unfocus text field</dd>
    <dt>{{& nTab }}</dt>
    <dd>Switch to Nth tab.</dd>
    <dt>{{& prevNextTab }}</dt>
    <dd>Go to previous/next tab.</dd>
    <dt>{{& firstUnread }}</dt>
    <dd>Go to first tab with unread activity</dd>
    <dt>{{& closeTab }}</dt>
    <dd>Close tab</dd>
    <dt>{{& newTab }}</dt>
    <dd>Open new tab</dd>
    <dt>{{& preferences }}</dt>
    <dd>Open preferences</dd>
    <dt>{{& toggleUsers }}</dt>
    <dd>Show or hide flow users</dd>
    <dt>{{& setDND }}</dt>
    <dd>Do Not Disturb on for 30 minutes</dd>
    <dt>{{& focusSearch }}</dt>
    <dd>Focus search</dd>
    <dt>{{& focusChat }}</dt>
    <dd>Focus chat</dd>
    <dt>{{& toggleThread }}</dt>
    <dd>Toggle thread</dd>
    <dt>{{& toggleSpotlight }}</dt>
    <dd>Open Quick Flows/1-1s Finder</dd>
  </dl>
  <dl class='help-list shortcut-list'>
    <dt>{{& refocus }}</dt>
    <dd>Refocus last focused field</dd>
    <dt>{{& goBack }}</dt>
    <dd>Go back</dd>
    <dt>{{& help }}</dt>
    <dd>Show this dialog</dd>
    <h5>With chat or comment input focused:</h5>
    <dt>{{& editMessage }}</dt>
    <dd>Edit your latest message</dd>
    <dt>{{& prevNextThread }}</dt>
    <dd>Open previous/next thread</dd>
    <h5>With open thread</h5>
    <dt>{{& flipThread }}</dt>
    <dd>Flip thread to right or left side</dd>
  </dl>
</section>
