<section class='content clearfix'>
  <h3 class='stripe-title'>Available Meme Templates</h3>
  <hr>
  <p>Here are the templates available for meme images:</p>
  <dl class='help-list command-list meme-templates'>
    <dt>tenguy</dt><dd>10 Guy</dd>
    <dt>afraid</dt><dd>Afraid to Ask Andy</dd>
    <dt>older</dt><dd>An Older Code Sir, But It Checks Out</dd>
    <dt>aag</dt><dd>Ancient Aliens Guy</dd>
    <dt>tried</dt><dd>At Least You Tried</dd>
    <dt>biw</dt><dd>Baby Insanity Wolf</dd> 
    <dt>blb</dt><dd>Bad Luck Brian</dd> 
    <dt>kermit</dt><dd>But That's None of My Business</dd>
    <dt>ch</dt><dd>Captain Hindsight</dd>
    <dt>cbg</dt><dd>Comic Book Guy</dd> 
    <dt>wonka</dt><dd>Condescending Wonka</dd> 
    <dt>keanu</dt><dd>Conspiracy Keanu</dd> 
    <dt>dsm</dt><dd>Dating Site Murderer</dd> 
    <dt>live</dt><dd>Do It Live!</dd> 
    <dt>ants</dt><dd>Do You Want Ants?</dd> 
    <dt>doge</dt><dd>Doge</dd> 
    <dt>alwaysonbeat</dt><dd>Drake Always On Beat</dd> 
    <dt>ermg</dt><dd>Ermahgerd</dd> 
    <dt>fwp</dt><dd>First World Problems</dd> 
    <dt>fa</dt><dd>Forever Alone</dd> 
    <dt>fry</dt><dd>Futurama Fry</dd> 
    <dt>ggg</dt><dd>Good Guy Greg</dd> 
    <dt>hipster</dt><dd>Hipster Barista</dd> 
    <dt>icanhas</dt><dd>I Can Has Cheezburger?</dd> 
    <dt>crazypills</dt><dd>I Feel Like I'm Taking Crazy Pills</dd> 
    <dt>regret</dt><dd>I Immediately Regret This Decision!</dd> 
    <dt>boat</dt><dd>I Should Buy a Boat Cat</dd> 
    <dt>sohappy</dt><dd>I Would Be So Happy</dd> 
    <dt>captain</dt><dd>I am the Captain Now</dd> 
    <dt>inigo</dt><dd>Inigo Montoya</dd> 
    <dt>iw</dt><dd>Insanity Wolf</dd> 
    <dt>joker</dt><dd>It's Simple, Kill the Batman</dd> 
    <dt>ive</dt><dd>Jony Ive Redesigns Things</dd> 
    <dt>ll</dt><dd>Laughing Lizard</dd> 
    <dt>morpheus</dt><dd>Matrix Morpheus</dd> 
    <dt>badchoice</dt><dd>Milk Was a Bad Choice</dd> 
    <dt>mmm</dt><dd>Minor Mistake Marvin</dd> 
    <dt>jetpack</dt><dd>Nothing To Do Here</dd> 
    <dt>red</dt><dd>Oh, Is That What We're Going to Do Today?</dd> 
    <dt>mordor</dt><dd>One Does Not Simply Walk into Mordor</dd> 
    <dt>oprah</dt><dd>Oprah You Get a Car</dd> 
    <dt>remembers</dt><dd>Pepperidge Farm Remembers</dd> 
    <dt>philosoraptor</dt><dd>Philosoraptor</dd> 
    <dt>jw</dt><dd>Probably Not a Good Idea</dd> 
    <dt>sad-obama</dt><dd>Sad Barack Obama</dd> 
    <dt>sadfrog</dt><dd>Sad Frog / Feels Bad Man</dd> 
    <dt>sad-bush</dt><dd>Sad George Bush</dd> 
    <dt>sad-biden</dt><dd>Sad Joe Biden</dd> 
    <dt>sarcasticbear</dt><dd>Sarcastic Bear</dd> 
    <dt>dwight</dt><dd>Schrute Facts</dd> 
    <dt>sb</dt><dd>Scumbag Brain</dd> 
    <dt>ss</dt><dd>Scumbag Steve</dd> 
    <dt>sf</dt><dd>Sealed Fate</dd> 
    <dt>sohot</dt><dd>So Hot Right Now</dd> 
    <dt>awesome-awkward</dt><dd>Socially Awesome Awkward Penguin</dd> 
    <dt>awesome</dt><dd>Socially Awesome Penguin</dd> 
    <dt>awkward-awesome</dt><dd>Socially Awkward Awesome Penguin</dd> 
    <dt>awkward</dt><dd>Socially Awkward Penguin</dd> 
    <dt>fetch</dt><dd>Stop Trying to Make Fetch Happen</dd> 
    <dt>success</dt><dd>Success Kid</dd> 
    <dt>ski</dt><dd>Super Cool Ski Instructor</dd> 
    <dt>officespace</dt><dd>That Would Be Great</dd> 
    <dt>interesting</dt><dd>The Most Interesting Man in the World</dd> 
    <dt>toohigh</dt><dd>The Rent Is Too Damn High</dd> 
    <dt>bs</dt><dd>This is Bull, Shark</dd> 
    <dt>both</dt><dd>Why Not Both?</dd> 
    <dt>xy</dt><dd>X all the Y</dd> 
    <dt>buzz</dt><dd>X, X Everywhere</dd> 
    <dt>yodawg</dt><dd>Xzibit Yo Dawg</dd> 
    <dt>yuno</dt><dd>Y U NO Guy</dd> 
    <dt>yallgot</dt><dd>Y'all Got Any More of Them</dd> 
    <dt>bad</dt><dd>You Should Feel Bad</dd> 
    <dt>elf</dt><dd>You Sit on a Throne of Lies</dd> 
    <dt>chosen</dt><dd>You Were the Chosen One!</dd> 
  </dl>
</section>
